/*body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

label, span {
	font-weight: bold;
}

span {
	font-size: 2em;
	display: block;
	padding-left: 10px;
}

label {
	padding-left: 30px;
	padding-top: 30px;
}

button {
	background-color: #4070ff;
	color: white;
	border-radius: 10%;
	max-width: 150px;
	width: 10%;
}*/